{{#extend "layout" title="About"}}
    {{#content "body"}}
        <section class="about-container">

            <div class="desc-box">
                <h1>About Us</h1>
                <p>Welcome to YouTrails, your go-to platform for exploring and discovering new trails in SLC. We are passionate about outdoor adventures and connecting people with nature.</p>
            </div>
            
        </section>
    {{/content}}
{{/extend}}