<<<<<<< HEAD
<<<<<<< HEAD
<section class="about-container">
=======
<nav>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="./explore.handlebars" class="navbar-item">
              Explore
            </a>
             <a href="./about.handlebars" class="navbar-item">
              About
            </a> 
            <a href="./trails.handlebars" class="navbar-item ">
              Trails
            </a>
            <a href="./contact.handlebars" class="navbar-item">
              Contact
            </a>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
              </div>
            </div>
          </div>
        </div>
        <div class="greeting">
          <h1>Welcome To YouTrails</h1>
          <h2>Enjoy some of the trails Utah has to offer!!</h2>
        </div>
      </nav>
    </nav>
>>>>>>> 1f63ad0daa423ffbef37dd74497326722786c4f6
=======

>>>>>>> 7c5c81dd301f9fc300e009a86c19a5af341db976

    <div class="desc-box">
        <h1>About Us</h1>
        <p>Welcome to YouTrails, your go-to platform for exploring and discovering new trails in SLC. We are passionate about outdoor adventures and connecting people with nature.</p>
    </div>
    
</section>
