<nav>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="./explore.handlebars" class="navbar-item">
              Explore
            </a>
             <a href="./about.handlebars" class="navbar-item">
              About
            </a> 
            <a href="./trails.handlebars" class="navbar-item ">
              Trails
            </a>
            <a href="./contact.handlebars" class="navbar-item">
              Contact
            </a>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
              </div>
            </div>
          </div>
        </div>
        <div class="greeting">
          <h1>Welcome To YouTrails</h1>
          <h2>Enjoy some of the trails Utah has to offer!!</h2>
        </div>
      </nav>
    </nav>

        <section class="contact-container">
            <div class="overlay">
                <h1>Contact Us</h1>
                <p>Have any questions or feedback? Feel free to reach out to us using the form below or via email at info@youtrails.com.</p>
                <form class="box">
                    <h3>Contact Us</h3>

                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                        <input class="input" type="text" placeholder="Your Name" />
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                        <input class="input" type="email" placeholder="Your Email" />
                    </div>

                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                        <textarea class="textarea" placeholder="Your Message"></textarea>
                    </div>
                    
                    <button class="button">Send Message</button>
                </form>
            </div>
        </section>
