

        <section class="contact-container">
            <div class="overlay">
                <h1>Contact Us</h1>
                <p>Have any questions or feedback? Feel free to reach out to us using the form below or via email at info@youtrails.com.</p>
                <form class="box">
                    <h3>Contact Us</h3>

                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                        <input class="input" type="text" placeholder="Your Name" />
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                        <input class="input" type="email" placeholder="Your Email" />
                    </div>

                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                        <textarea class="textarea" placeholder="Your Message"></textarea>
                    </div>
                    
                    <button class="button">Send Message</button>
                </form>
            </div>
        </section>
