<section class="carousel-container">
    <div class="mySlides">
        <img src="https://images.unsplash.com/photo-1701723993253-aebccb8b4942?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Utah mountains in early fall" width="100%">
    </div>
    <div class="mySlides">
        <img src="https://images.unsplash.com/photo-1696346146644-8cfbbbfaf31a?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="three kids enjoying a view of a valley" width="100%">
    </div>
    <div class="mySlides">
        <img src="https://images.unsplash.com/photo-1670510521081-fe2e687c3153?q=80&w=3869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a picture of snowy mountains framed in by pines" width="100%">
    </div>
    <div class="mySlides">
        <img src="https://images.unsplash.com/photo-1670510521053-caa85316357b?q=80&w=2735&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a picture of a highly traveled trail" width="100%">
    </div>
</section>

<script src="/public/css/Javascript/carousel.js"></script>
