<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="../public/css/explore.css">
</head>

<section>
      <nav>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              Explore
            </a>
             <a href="./about.handlebars" class="navbar-item">
              About
            </a> 
            <a href="./trails.handlebars" class="navbar-item ">
              Trails
            </a>
            <a href="./contact.handlebars" class="navbar-item">
              Contact
            </a>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
              </div>
            </div>
          </div>
        </div>
        <div class="greeting">
          <h1>Welcome To YouTrails</h1>
          <h2>Enjoy some of the trails Utah has to offer!!</h2>
        </div>
      </nav>
    </nav>
  </section>
    <section>
      <div class="carousel-container">
        <div class="mySlides">
          <img src="https://images.unsplash.com/photo-1701723993253-aebccb8b4942?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Utah mountains in early fall" width="100%">
        </div>
        <div class="mySlides">
          <img src="https://images.unsplash.com/photo-1696346146644-8cfbbbfaf31a?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="three kids enjoying a view of a valley" width="100%">
        </div>
        <div class="mySlides">
          <img src="https://images.unsplash.com/photo-1670510521081-fe2e687c3153?q=80&w=3869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a picture of snowy mountains framed in by pines" width="100%">
        </div>
        <div class="mySlides">
          <img src="https://images.unsplash.com/photo-1670510521053-caa85316357b?q=80&w=2735&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a picture of a highly traveled trail" width="100%">
        </div>
      </div>
    
        <div class="card-container">
          <div class="columns is-multiline">
            <div class="column is-one-quarter">
              <section>
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Placeholder image"
                      />
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                      </div>
                      <div class="media-content">
                        <p class="title is-4">John Smith</p>
                        <p class="subtitle is-6">@johnsmith</p>
                      </div>
                    </div>
                    <div class="content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                      iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                      <a href="#">#responsive</a>
                      <br />
                      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                    </div>
                  </div>
                </div>
            </div>
      
            <div class="column is-one-quarter">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Placeholder image"
                      />
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                      </div>
                      <div class="media-content">
                        <p class="title is-4">John Smith</p>
                        <p class="subtitle is-6">@johnsmith</p>
                      </div>
                    </div>
                    <div class="content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                      iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                      <a href="#">#responsive</a>
                      <br />
                      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                    </div>
                  </div>
                </div>
            </div>
      
            <div class="column is-one-quarter">

                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Placeholder image"
                      />
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                      </div>
                      <div class="media-content">
                        <p class="title is-4">John Smith</p>
                        <p class="subtitle is-6">@johnsmith</p>
                      </div>
                    </div>
                    <div class="content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                      iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                      <a href="#">#responsive</a>
                      <br />
                      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                    </div>
                  </div>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img
                        src="https://bulma.io/assets/images/placeholders/1280x960.png"
                        alt="Placeholder image"
                      />
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                      </div>
                      <div class="media-content">
                        <p class="title is-4">John Smith</p>
                        <p class="subtitle is-6">@johnsmith</p>
                      </div>
                    </div>
                    <div class="content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                      iaculis mauris. <a>@bulmaio</a>. <a href="#">#css</a>
                      <a href="#">#responsive</a>
                      <br />
                      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script>
  $(document).ready(function(){
    var $carousel = $('.carousel-container');

    // Initialize the carousel
    $carousel.slick({
      autoplay: true, 
      autoplaySpeed: 4000, 
      dots: true,
    });

    
    var debouncedAdvanceCarousel = _.debounce(function() {
      $carousel.slick('slickNext'); // Advance to the next slide
    }, 1000); // Adjust the delay as needed (in milliseconds)

    // Listen for user activity events and trigger carousel advancement
    $(document).on('mousemove keydown touchstart', function() {
      debouncedAdvanceCarousel();
    });
  });
</script>
