<<<<<<< HEAD
<<<<<<< HEAD
<section class="carousel-container">
    <div class="mySlides">
        <img src="https://images.unsplash.com/photo-1701723993253-aebccb8b4942?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Utah mountains in early fall" width="100%">
    </div>
    <div class="mySlides">
        <img src="https://images.unsplash.com/photo-1696346146644-8cfbbbfaf31a?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="three kids enjoying a view of a valley" width="100%">
    </div>
    <div class="mySlides">
        <img src="https://images.unsplash.com/photo-1670510521081-fe2e687c3153?q=80&w=3869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a picture of snowy mountains framed in by pines" width="100%">
    </div>
    <div class="mySlides">
        <img src="https://images.unsplash.com/photo-1670510521053-caa85316357b?q=80&w=2735&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a picture of a highly traveled trail" width="100%">
    </div>
</section>
=======
=======


>>>>>>> 18dbb376c0c69b9fb4c98fa9332fb76a3b36a755
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="../public/css/explore.css">
</head>

    <section>
      <div class="carousel-container">
        <div class="mySlides">
          <img src="https://images.unsplash.com/photo-1701723993253-aebccb8b4942?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Utah mountains in early fall" width="100%">
        </div>
        <div class="mySlides">
          <img src="https://images.unsplash.com/photo-1696346146644-8cfbbbfaf31a?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="three kids enjoying a view of a valley" width="100%">
        </div>
        <div class="mySlides">
          <img src="https://images.unsplash.com/photo-1670510521081-fe2e687c3153?q=80&w=3869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a picture of snowy mountains framed in by pines" width="100%">
        </div>
        <div class="mySlides">
          <img src="https://images.unsplash.com/photo-1670510521053-caa85316357b?q=80&w=2735&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="a picture of a highly traveled trail" width="100%">
        </div>
      </div>
    
        <div class="card-container">
          <div class="columns is-multiline">
            <div class="column is-one-quarter">
              <section>
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img
                        src="https://images.alltrails.com/eyJidWNrZXQiOiJhc3NldHMuYWxsdHJhaWxzLmNvbSIsImtleSI6InVwbG9hZHMvcGhvdG8vaW1hZ2UvNjU0NDMwNzUvZmZmMjE4ODVmZDI2YzkzNTg1MzU3NzU5YzhhNWZhZGMuanBnIiwiZWRpdHMiOnsidG9Gb3JtYXQiOiJqcGVnIiwicmVzaXplIjp7IndpZHRoIjo1MDAsImhlaWdodCI6NTAwLCJmaXQiOiJpbnNpZGUifSwicm90YXRlIjpudWxsLCJqcGVnIjp7InRyZWxsaXNRdWFudGlzYXRpb24iOnRydWUsIm92ZXJzaG9vdERlcmluZ2luZyI6dHJ1ZSwib3B0aW1pc2VTY2FucyI6dHJ1ZSwicXVhbnRpc2F0aW9uVGFibGUiOjN9fX0=" alt="Landscape view of Red Castle lake and mountains from trail"/>
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                      </div>
                      <div class="media-content">
                        <p class="card-title is-4">Red Castle Lake via East Fork Smiths Fork</p>
                      </div>
                    </div>
                    <div class="content">
                      This trail is pretty easy going to start off. Once you get about 4 miles in it gets pretty steep, but it is worth the time!
                    </div>
                  </div>
                </div>
            </div>
      
            <div class="column is-one-quarter">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img
                        src="https://images.squarespace-cdn.com/content/v1/5b8ff5ff1aef1d69c437b897/b23cb35e-32be-4409-8931-5e8b06faf7b4/IMG_0120-2.jpg" alt="A view of Salt Lake from the top of Ensign Peak monument."/>
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                      </div>
                      <div class="media-content">
                        <p class="card-title is-4">Ensign Peak</p>
                      </div>
                    </div>
                    <div class="content">
                      This is a relatively easy trail for beginners and experienced hikers that gives a view of Salt Lake City looking South. 
                    </div>
                  </div>
                </div>
            </div>
      
            <div class="column is-one-quarter">
>>>>>>> 1f63ad0daa423ffbef37dd74497326722786c4f6

                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="https://adventr.co/wp-content/uploads/2018/09/KingsCover.jpg" alt="Landscape photo of the valley and lake just below King's Peak" />
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                      </div>
                      <div class="media-content">
                        <p class="card-title is-4">Kings Peak via Henry's Fork Trail</p>
                      </div>
                    </div>
                    <div class="content">
                      This trail is about 13.8 miles from Trailhead to Kings Peak, it takes you up above 13,500 feet. It's the highest peak in Utah.
                    </div>
                  </div>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img
                        src="https://i.redd.it/gqkuvnwn9xq71.jpg" alt="A view of the fall trees heading up to the peaks" />
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                      </div>
                      <div class="media-content">
                        <p class="card-title is-4">Broads Fork Twin Peaks</p>
                      </div>
                    </div>
                    <div class="content">
                      Very scenic hike, especially in autumn with great views not a difficult trail, but could be seen as challenging.
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script>
  $(document).ready(function(){
    var $carousel = $('.carousel-container');

    // Initialize the carousel
    $carousel.slick({
      autoplay: true, 
      autoplaySpeed: 4000, 
      dots: true,
    });

    
    var debouncedAdvanceCarousel = _.debounce(function() {
      $carousel.slick('slickNext'); // Advance to the next slide
    }, 1000); // Adjust the delay as needed (in milliseconds)

    // Listen for user activity events and trigger carousel advancement
    $(document).on('mousemove keydown touchstart', function() {
      debouncedAdvanceCarousel();
    });
  });
</script>
