{{#extend "layout" title="YouTrails"}}
    {{#content "body"}}
        <div class="carousel-container">
            <div class="mySlides">
                <img src="/public/css/Javascript/images/view.jpg" alt="Utah mountains in early fall" width="100%">
            </div>
            <div class="mySlides">
                <img src="/public/css/Javascript/images/scenery.jpg" alt="three kids enjoying a view of a valley" width="100%">
            </div>
            <div class="mySlides">
                <img src="/public/css/Javascript/images/mountains.jpg" alt="a picture of snowy mountains framed in by pines" width="100%">
            </div>
            <div class="mySlides">
                <img src="/public/css/Javascript/images/trail.jpg" alt="a picture of a highly traveled trail" width="100%">
            </div>
        </div>
    {{/content}}
{{/extend}}
