<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
  <header>
    <nav id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">Explore</a>
          <a class="navbar-item" href="/about">About</a>
          <a class="navbar-item" href="/trails">Trails</a>
          <a class="navbar-item" href="/contact">Contact</a>
        </div>

        <div class="navbar-center">
          <div class="greeting">
            <h1>Welcome To YouTrails</h1>
            <h2>Enjoy all the trails SLC has to offer!!</h2>
          </div>
        </div>
        
        <figure class="image is-64x64">
          <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/128x128.png" />
        </figure>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>
  <footer>
    <p>&copy; YouTrails</p>
  </footer>
</body>

</html>
