

  <div class="image-container" style="position: relative;">
    <img class="image is-fullwidth" src="https://images.unsplash.com/photo-1476611338391-6f395a0ebc7b?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aGlraW5nfGVufDB8fDB8fHww"
      alt="3 hikers in the woods with one jumping up and down">
    <div class="card-container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%;">
      <div class="columns is-multiline">
        <div class="column is-one-quarter">
          <section>
            <div class="card is-overlay">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://hikingproject.com/assets/photos/hike/7032203_medium_1554932682.jpg?cache=1709942304" alt="Mt. Ogden from the Beus Canyon trail just below the summit" />
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                  </div>
                  <div class="media-content">
                    <p class="title is-4">Mt Ogden via Beus Canyon Trailhead</p>
                  </div>
                </div>
                <div class="content">
                  This trail climbs up Beus Canyon, where it intersects the Bonneville Shoreline Trail. The trail continues along Beus Canyon.
                </div>
              </div>
            </div>
        </div>

              <div class="column is-one-quarter">
                <section>
                  <div class="card is-overlay">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="https://discoverdavis.com/wp-content/uploads/2021/09/IMG_1934-2000x1500.jpg" alt="Adams Canyon waterfall in Layton, UT" />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                        </div>
                        <div class="media-content">
                          <p class="title is-4">Adams Canyon</p>
                        </div>
                      </div>
                      <div class="content">
                        A very popular trail with a moderate climb at the start, about 3 miles out and back. There's a nice refreshing waterfall to sit under at the end. Also provides access to many biking trails.
                      </div>
                    </div>
                  </div>
              </div>

              <div class="column is-one-quarter">
                <section>
                  <div class="card is-overlay">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="https://images.theoutbound.com/uploads/1470787129698/4vjl3ya2aqt6ufen/3046a12b8ed5b593d721b7e8238195d1?w=1200&h=630&fit=crop&dpr=1&q=60&s=587ca59869f593aa8df74b1d2229990d" alt="A view of the valley and mountains from the single track trail" />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                        </div>
                        <div class="media-content">
                          <p class="title is-4">Wheeler Creek Trail</p>
                        </div>
                      </div>
                      <div class="content">
                        Near the Snow Basin ski area, this trail is a great hike for families if you are interested in a quick day trip up. It features a stream, and towering cliffs. Very scenic surroundings.
                      </div>
                    </div>
                  </div>
              </div>

              <div class="column is-one-quarter">
                <section>
                  <div class="card is-overlay">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="https://www.nicodebarmore.com/wp-content/uploads/2014/07/amethyst-lake1.jpg" alt="A view of Amethyst lake and the surrounding areas complete with rockfall from the cliffs above" />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                        </div>
                        <div class="media-content">
                          <p class="title is-4">Amethyst Lake</p>
                        </div>
                      </div>
                      <div class="content">
                        This is a moderate trail, about 9 miles out and back. It gradually ascends up the canyon as you encounter pine forest and meadows. The lake is in a bowl surrounded by towering peaks.
                    </div>
                  </div>
              </div>
