{{#extend "layout" title="Trails"}}
    {{#content "body"}}

    {{/content}}
{{/extend}}

  <div class="image-container" style="position: relative;">
    <img class="image is-fullwidth" src="https://images.unsplash.com/photo-1476611338391-6f395a0ebc7b?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aGlraW5nfGVufDB8fDB8fHww"
      alt="3 hikers in the woods with one jumping up and down">
    <div class="card-container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%;">
      <div class="columns is-multiline">
        <div class="column is-one-quarter">
          <section>
            <div class="card is-overlay">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Placeholder image" />
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                  </div>
                  <div class="media-content">
                    <p class="title is-4">John Smith</p>
                  </div>
                </div>
                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                </div>
              </div>
            </div>
        </div>

              <div class="column is-one-quarter">
                <section>
                  <div class="card is-overlay">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Placeholder image" />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                        </div>
                        <div class="media-content">
                          <p class="title is-4">John Smith</p>
                        </div>
                      </div>
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                      </div>
                    </div>
                  </div>
              </div>

              <div class="column is-one-quarter">
                <section>
                  <div class="card is-overlay">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Placeholder image" />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                        </div>
                        <div class="media-content">
                          <p class="title is-4">John Smith</p>
                        </div>
                      </div>
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                      </div>
                    </div>
                  </div>
              </div>

              <div class="column is-one-quarter">
                <section>
                  <div class="card is-overlay">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Placeholder image" />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                        </div>
                        <div class="media-content">
                          <p class="title is-4">John Smith</p>
                        </div>
                      </div>
                      <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                      </div>
                    </div>
                  </div>
              </div>
